<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}TCM!{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% javascripts
    '@AppBundle/Resources/js/jquery/*'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% stylesheets
    '@AppBundle/Resources/css/bootstrap/bootstrap.css'
    '@AppBundle/Resources/css/bootstrap/bootstrap-theme.css'
    '@AppBundle/Resources/css/jquery/jquery-ui.css'
    '@AppBundle/Resources/css/select2/select2.min.css'
    '@AppBundle/Resources/css/select2/select2.custom.css'
    '@AppBundle/Resources/css/global/font-awesome.min.css'
    '@AppBundle/Resources/css/global/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="page-loader">
    <div class="page-loader-progress"></div>
</div>
<div class="site">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Logo
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"
                           aria-expanded="false">
                            <span class="username">Admin</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;"><i class="fa fa-user"></i> Profil</a></li>
                            <li><a href="javascript:;"><i class="fa fa-envelope"></i> Poczta</a></li>
                            <li><a href="javascript:;"><i class="fa fa-cogs"></i> Ustawienia</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;"><i class="fa fa-lock"></i> Zablokuj</a></li>
                            <li><a href="javascript:;"><i class="fa fa-sign-out"></i> Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-sidebar navbar-collapse collapse" aria-expanded="false">
        <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false">
            <li class="nav-item {% if "app_index" in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path("app_index") }}" class="nav-link nav-toggle">
                    <i class="fa fa-home fa-2x"></i> Dashboard
                </a>
            </li>
            <li class="nav-item {% if "patient_new_form" in app.request.attributes.get('_route') or "patient_list" in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-group fa-2x"></i> Pacjenci
                </a>
                <ul class="sub-menu collapse" aria-expanded="false">
                    <li class="nav-item">
                        <a href="{{ path("patient_new_form_ajax") }}" class="ajax-link">Dodaj nowego</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("patient_list_ajax") }}" class="ajax-link ajax-reload">Podgląd, edycja</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-calendar-o fa-2x"></i> Wizyty
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-calendar fa-2x"></i> Kalendarz
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-pie-chart fa-2x"></i> Ankiety
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-info-circle fa-2x"></i> Porady
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-euro fa-2x"></i> Płatności
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-bar-chart fa-2x"></i> Statystyki
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link nav-toggle">
                    <i class="fa fa-wrench fa-2x"></i> Szablony
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container" id="page-content" style="padding-top: 10px;">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<footer class="footer" stlye="clear: both;">
    <div class="container">
        <p>&copy; 2017 by TCM. All rights reserved.</p>
    </div>
</footer>

{% javascripts
'@AppBundle/Resources/js/bootstrap/bootstrap.min.js'
'@AppBundle/Resources/js/select2/select2.min.js'
'@AppBundle/Resources/js/global/main.js'
'@AppBundle/Resources/js/patient/list-patient.js'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
